<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
</head>

<body>
<section layout:fragment="content">
	<!-- Include Editor style. -->
	<link th:href="@{/backend/common/froala_v3.0.5/css/froala_editor.pkgd.css}" rel="stylesheet" type="text/css" />
	<div class="page-content-wrapper">
		<div class="page-content">

			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a th:href="@{/tom/index}">首页</a>
						<i class="fa fa-angle-right"></i>
						<a th:href="@{/tom/game/froala}">富文本</a>
					</li>
				</ul>
			</div>
			<div class="bordered hidden-sm hidden-xs">
				<div class="portlet-body form">
						<div class="form-body">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-info" onclick="FroalaManaged.initType('stu_demo_code')"> 新增模板 </button>
									<button type="button" class="btn btn-info" onclick="FroalaManaged.initType('stu_mistake')"> 新增错误 </button>
									<button type="button" class="btn btn-info" onclick="FroalaManaged.initType('stu_bsc')"> 新增工作 </button>
									<button type="button" class="btn btn-info" onclick="FroalaManaged.initType('stu_memo')"> 新增备忘 </button>
									<input type="hidden" class="form-control" id="initType" name="initType"/>
								</div>
							</div>

						</div>
				</div>
			</div>
			<div class="portlet box grey-cararra">
				<div class="portlet-title">
					<div class="caption">
					</div>
				</div>
				<div class="portlet-body">
					<div id="froala-editor"></div>
					<div style="text-align: center">
						<button style="margin-top:10px " type="button" class="btn" onclick="FroalaManaged.submitEditor()"> <i class="fa fa-check"> </i>  提交 </button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript" th:src="@{/backend/common/froala_v3.0.5/js/froala_editor.pkgd.min.js}"></script>
    <!--中文字体包，注意要放在最下面，不然会报错-->
    <script type="text/javascript" th:src="@{/backend/common/froala_v3.0.5/js/languages/zh_cn.js}"></script>
    <script type="text/javascript" th:src="@{/backend/study/froala_settings.js}"></script>
    <script type="text/javascript" th:src="@{/backend/study/froala.js}"></script>
<style>
    .fr-wrapper > div[style*='z-index: 9999'] {
        position: absolute;
        top: -10000px;
        opacity: 0;
        display: none;
    }
</style>
</section>
</body>
</html>