<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
</head>

<body>
<section layout:fragment="content">
<link th:href="@{/backend/spa/jquery.magnify.css}" rel="stylesheet" type="text/css"/>
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-content-body">
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a th:href="@{/tom/index}">首页</a>
							<i class="fa fa-angle-right"></i>
							<a th:href="@{/tom/bsc/index}">与BSC相关的任务</a>
						</li>
					</ul>
				</div>
				<div th:replace="~{backend/pages/common/static_tab_dates}"/>
				<div class="portlet light">
					<div class="portlet-body">
						<div class="row" id="uiDom">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
<style>
	.magnify-stage {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-width: 0;
	}
</style>
<script type="text/javascript" charset="utf-8"  th:src="@{/backend/common/tomDateControl.js}"></script>
<script type="text/javascript" charset="utf-8"  th:src="@{/backend/common/tomDateCheck_buttons.js}"></script>
<script type="text/javascript" charset="utf-8"  th:src="@{/backend/study/bsc_history.js}"></script>
</section>
</body>
</html>