<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
		<link type="text/css" rel="stylesheet" th:href="@{/backend/exhibition/NX/css/exhibition2.css}"/>
		<link type="text/css" rel="stylesheet" th:href="@{/backend/exhibition/NX/css/bootstrap.min.css}" />
		<style type="text/css">
		th{    text-align: center;}
		ul{margin:0px;padding:0px;}
		</style>
		
		<title>宁夏远程医疗服务与监管平台</title>
</head>
<body>
<div class="title_h1">宁夏远程医疗服务与监管平台业务统计</div>
<div class="con">
	<div class="con_f1 mag_r10">
		<div class="con_f1a">
			<div class="con_f1a01">
			<div class="con_f1a1">
				<ul>    
                    	<li style="width:20%;"><p>医疗机构总数</p><a style="color:#ffa555;">265</a></li>
                    	<li><p>区级医院</p><a style="color:#00bfb7;">7</a></li>
                    	<li><p>市级医院</p><a style="color:#50d48b;">5</a></li>
                    	<li><p>县级医院</p><a style="color:#ffc513;">17</a></li>
                    	<li><p>乡镇卫生院</p><a style="color:#9e66ff;">196</a></li>
                    	<li><p>村卫生室</p><a style="color:#ff6182;">40</a></li>
				</ul>
			</div>
				</div>
		</div>
		<div class="con_f1b">
			<div class="con_f1b01">
				<div class="con_f1b1">
					<div class="con_f1b1_fl">
						<h3>区外医疗资源</h3>
						<div class="con_f1b1_flza"  id="model_qyylzy"></div>
						</div>
					<div class="con_f1b1_fl" style="float: right">
						<h3>区内医疗资源</h3>
						<div class="con_f1b1_flza"  id="model_qnylzy"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="con_f1b">
			<div class="con_f1b01">
				<div class="con_f1b1">
					<div class="con_f1b1_fl">
						<h3>入网专家资源</h3>
						<div class="con_f1b1_flza" id="model_rwzjzy"></div>
					</div>
					<div class="con_f1b1_fl"  style="float: right">
						<h3>远程医疗应用统计</h3>
						<div class="con_f1b1_flza" id="model_ycylyy"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="clear: both; "></div>
        <div class="con_f1c">
            <div class="con_f1b01">

                <div class="con_f1c_fl">
                    <h2>远程影像</h2>
                    <div class="con_f1c_flz">
                        <ul class="con_f1c_fl_01a">
                            <li>检查</li>
                            <span>|</span>
                            <li>影像</li>
                            <span>|</span>
                            <li>报告</li>
                        </ul>
                        <p><strong id="ycyx_jc">0</strong></p>
                        <!-- <ul class="con_f1c_fl_01b"><li ><strong id="ycyx_jc">1112365</strong></li><span></span><li ><strong id="ycyx_yx">1114598</strong></li><span></span><li ><strong id="ycyx_bg">1112236</strong></li> </ul> -->
                    </div>
                </div>
                <div class="con_f1cc_fl" style="float: right;">
                    <h2>远程心电</h2>
                    <div class="con_f1cc_flz" style="background:#07d5d5;">
                        <ul class="con_f1cc_fl_01a">
                            <li>检查</li>
                            <span>|</span>
                            <li>报告</li>
                        </ul>
                        <p><strong id="ycxd_jc">0</strong></p>
                        <!-- <ul class="con_f1cc_fl_01b"><li ><strong id="ycxd_jc">220</strong></li><span></span><li ><strong id="ycxd_yx">78965</strong></li> </ul> -->
                    </div>
                </div>

            </div>

            <div class="con_f1b01">

                <div class="con_f1cc_fl">
                    <h2>远程会诊</h2>
                    <div class="con_f1cc_flz">
                        <ul class="con_f1cc_fl_01a">
                            <li>检查</li>
                            <span>|</span>
                            <li>报告</li>
                        </ul>
                        <p><strong id="ychz_jc">0</strong></p>
                        <!-- <ul class="con_f1cc_fl_01b"><li ><strong id="ychz_jc">220</strong></li><span></span><li ><strong id="ychz_yx">78965</strong></li> </ul> -->
                    </div>
                </div>
                <div class="con_f1c_fl" style="float: right;">
                    <h2>远程教育</h2>
                    <div class="con_f1c_flz" style="background: #5b0bc9;">
                        <ul class="con_f1c_fl_01a">
                            <li>课程</li>
                            <span>|</span>
                            <li>听课单位</li>
                            <span>|</span>
                            <li>听课次数</li>
                        </ul>
                        <ul class="con_f1c_fl_01b">
                            <li><strong id="ycjy_kc">78965</strong></li>
                            <span></span>
                            <li><strong id="ycjy_tkdw">789</strong></li>
                            <span></span>
                            <li><strong id="ycjy_tkry">123</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="con_f2">
		<div class="coc_f2t">
			<div class="con_f2a" >
				<div class="con_f2a1">
				<h3>业务实时动态图</h3>
				<div class="con_f2a1t" id="model_map"></div>
				</div>
			</div>
			<div class="con_f2b">
				<div class="con_f3a">
					<div class="con_f3a01">
						<div class="con_f3a01_fl">
							<div class="con_f3a01_flz">
								<h3>远程影像</h3>
								<div class="con_f3a01_flz_01">
									<div class="con_f3a01_flz_01a" id="model_ycyx">
									</div>
								</div>
							</div>
						</div>
						<div class="con_f3a01_fl" style="float: right;">
							<div class="con_f3a01_flz">
								<h3>远程心电</h3>
								<div class="con_f3a01_flz_01">
									<div class="con_f3a01_flz_01a"  id="model_ycxd"></div>
								</div>
							</div>
						</div>
						<div class="con_f3a01_fl">
							<div class="con_f3a01_flz">
								<h3>远程会诊</h3>
								<div class="con_f3a01_flz_01">
									<div class="con_f3a01_flz_01a" id="model_ychz"></div>
								</div>
							</div>
						</div>
						<div class="con_f3a01_fl" style="float: right;">
							<div class="con_f3a01_flz">
								<h3>远程教育</h3>
								<div class="con_f3a01_flz_01">
									<div class="con_f3a01_flz_01a" id="model_ycjy"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both; margin-top: 10px;"></div>
		<div class="coc_f2bot">
			<div class="coc_f2bot_01a" style="border: 1px solid #0318aa;" >
			<table width="100%" border="0">
				
  <tbody>
    <tr>
      <th style="border-bottom:1px solid #0318aa;">  </th>
      <th style="border-bottom:1px solid #0318aa;" >银川市</th>
      <th style="border-bottom:1px solid #0318aa;" >石嘴山市</th>
      <th style="border-bottom:1px solid #0318aa;" >吴忠市</th>
      <th style="border-bottom:1px solid #0318aa;" >固原市</th>
      <th style="border-bottom:1px solid #0318aa;" >中卫市</th>
    </tr>
    <tr>
      <td style="border-bottom:1px solid #0318aa;">远程影像</td>
      <td class="tyx" id="ycyx">0</td>
      <td class="tyx" id="szsyx">0</td>
      <td class="tyx" id="wzyx">0</td>
      <td class="tyx" id="gyyx">0</td>
      <td class="tyx" id="zwyx">0</td>
    </tr>
     <tr>
      <td style="border-bottom:1px solid #0318aa;">远程心电</td>
      <td class="tjy" id="ycxd">0</td>
      <td class="tjy" id="szsxd">0</td>
      <td class="tjy" id="wzxd">0</td>
      <td class="tjy" id="gyxd">0</td>
      <td class="tjy" id="zwxd">0</td>
    </tr>
    <tr>
      <td style="border-bottom:1px solid #0318aa;">远程会诊</td>
      <td class="thz" id="ychz">0</td>
      <td class="thz" id="szshz">0</td>
      <td class="thz" id="wzhz">0</td>
      <td class="thz" id="gyhz">0</td>
      <td class="thz" id="zwhz">0</td>
    </tr>
    <tr> 
		<td>远程教育</td>
      <td class="txd" id="ycjy">0</td>
      <td class="txd" id="szsjy">0</td>
      <td class="txd" id="wzjy">0</td>
      <td class="txd" id="gyjy">0</td>
      <td class="txd" id="zwjy">0</td>
    </tr>
  </tbody>
</table>
		
				
			</div>
		
		</div>
		
		
	</div>
	
</div>
        <script type="text/javascript">
		var ctx = '[[@{/}]]';
		ctx = ctx.length > 1 ? ctx : "";
	</script>
    <script th:src="@{/global/plugins/jquery.min.js}" type="text/javascript"></script>
	<!-- <script src="@{/background/pages/js/jquery.countUp.js}" type="text/javascript"></script> -->
	<script th:src="@{/echarts/dist/echarts.js}" type="text/javascript"></script>
	<script th:src="@{/echarts/map/js/china.js}" type="text/javascript"></script> 
	<script th:src="@{/backend/exhibition/NX/exhibition2.js}" type="text/javascript"></script>
</body>
</html>