.validate-error {
    color: red !important;
}
html #myTable .portlet box blue {
    font-size: 100px;
    cursor: pointer;
}
html #myTable tr.odd shown {
    font-size: 100px;
    cursor: none;
}
html #myTable tr.even shown {
    font-size: 100px;
    cursor: none;
}
html #myTable tr.odd {
    font-size: 100px;
    cursor: pointer;
}
html #myTable tr.even {
    font-size: 100px;
    cursor: pointer;
}
[v-cloak] {display: none;}
.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}
a{text-decoration:none;}
.magnify-stage {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 0;
}
.slick-slide {
    outline: none;
}
