<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
</head>

<body>
<section layout:fragment="content">
	<div class="page-content-wrapper">
		<div class="page-content">

			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a th:href="@{/tom/index}">首页</a>
						<i class="fa fa-angle-right"></i>
						<a th:href="@{/tom/exhibition/index}">大屏选择</a>
					</li>
				</ul>
			</div>

			<div class="portlet box grey-cararra">
				<div class="portlet-title">
					<div class="caption">
					</div>
				</div>
			</div>
			<div class="row">
				<div onclick="goto('GS')"   class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<a  class="dashboard-stat dashboard-stat-light blue"  style="color:#404958;cursor:pointer;">
						<div class="visual">
							<!--左下角背景图标-->
							<i class="fa fa-comments"></i>
						</div>
						<div class="details">
							<div class="number">
								<span data-counter="counterup" data-value="89235"  id="java">甘肃大屏</span>
							</div>
							<div class="desc"></div>
						</div>
					</a>
					<input type="hidden" id = "jc">
				</div>
				<div  class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<a class="dashboard-stat dashboard-stat-light red"   style="color:#404958;cursor:pointer;">
						<div class="visual">
							<i class="fa fa-archive"></i>
						</div>
						<div class="details">
							<div class="number">
								<span data-counter="counterup" data-value="89235"  id="mistake">湖南江华大屏</span>
							</div>
							<div class="desc"></div>
						</div>
					</a>
					<input type="hidden" id = "mc">
				</div>
				<div  class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<a   class="dashboard-stat dashboard-stat-light green"  style="color:#404958;cursor:pointer;">
						<div class="visual">
							<i class="fa fa-calendar-o"></i>
						</div>
						<div class="details">
							<div class="number">
								<span data-counter="counterup" data-value="89235"  id="remember">湖南宁远大屏</span>
							</div>
							<div class="desc"></div>
						</div>
					</a>
					<input type="hidden" id = "rc">
				</div>
				<div   class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<a  class="dashboard-stat dashboard-stat-light purple"  style="color:#404958;cursor:pointer;">
						<div class="visual">
							<i class="fa fa-git-square"></i>
						</div>
						<div class="details">
							<div class="number">
								<span data-counter="counterup" data-value="89235"  id="photo">null</span>
							</div>
							<div class="desc"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
<script>
	function goto(name) {
		location.href=ctx+"/tom/"+name+"exhibition/toExhibition";
    }
</script>
</section>
</body>
</html>