<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">

    <link type="text/css" rel="stylesheet" th:href="@{/backend/exhibition/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/backend/exhibition/css/exhibition.css}"/>



    <title>湖北省卫生健康委远程医疗服务与资源监管中心</title>
</head>

<body>
<div class="box">
    <h1>湖北省卫生健康委远程医疗服务与资源监管中心</h1>

    <div class="top1 left">
        <div class="top1a" style="height:35%;">
            <div class="con_f1a">
                <div class="con_f1a-title">医疗机构</div>

                <div class="zongshuyi" id="siteSum">总数：0</div>
                <div class="con_f1a01">
                    <div class="con_f1a1">
                        <ul>
                            <li style="width:33.3%;"><p>三级医院 </p><a style="color:#ffa555;" id="sanjisite">0</a></li>
                            <li><p>二级医院</p><a style="color:#28c953;" id="erjisite">0</a></li>
                            <li><p>一级医院/村卫生室</p><a style="color:#c25deb;" id="yijisite">0</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top1a" style="height: 65%; ">
            <div class="top1a-title">
                医务人员
            </div>
            <div class="zongshu" id="doctor_sum">总数：0</div>
            <div class="top1a-box" id="doctor_level">

            </div>
        </div>
    </div>
    <div class="top2 left" id="model_map">

    </div>
    <div class="top3 left ">
        <div class="top3a">
            <div class="top3a-title" style="top:0px;">
                远程会诊
            </div>
            <a th:href="@{/summary/teleconsultation}">
            <div class="top3a-box" id="week_hz">

            </div>
            </a>
        </div>
        <div class="top3a">
            <div class="top3a-title" style="top:0px;">
                远程心电
            </div>
            <a th:href="@{/summary/ecg}">
            <div class="top3a-box" id="week_xd">

            </div>
                </a>
        </div>

    </div>
    <div class="top4 left">
        <div class="top3a">
            <div class="top3a-title" style="top:0px;" >
                远程影像
            </div>
            <a th:href="@{/summary/radiology}">
            <div class="top3a-box" id="week_yx">

            </div>
                </a>
        </div>
        <div class="top3a">
            <div class="top3a-title" style="top:0px;">
                远程教育
            </div>
            <a th:href="@{/summary/lecture}">
            <div class="top3a-box" id="week_jy">

            </div>
            </a>>
        </div>
    </div>

    <div class="top5 left">
        <div class="top3a" >
            <div class="top3a-title">
                远程会诊
            </div>
            <div class="top5a-box" style="margin:0px;">
                <div class="top5a-div" style="background: #ffb339">
                    <a th:href="@{/summary/teleconsultation}">
                    <ul>
                        <li style="font-size:1.5rem;">申请</li>
                        <li style="font-size:1.5rem;">报告</li>
                        <li style="width:100%"><strong id="sum_hz">0</strong></li>
                    </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="top3a">
            <div class="top3a-title">
                远程心电
            </div>
            <div class="top6a-box">
                <div class="top5a-div"  style="background: #f46c64">
                    <a th:href="@{/summary/ecg}">
                    <ul>
                        <li style="font-size:1.5rem;">检查</li>
                        <li style="font-size:1.5rem;">报告</li>
                        <li style="width:100%"><strong id="sum_xd">0</strong></li>
                    </ul>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="top6 left">
        <div class="top3a">
            <div class="top3a-title" >
                远程影像
            </div>
            <div class="top6a-box" >
                <div class="top5a-div"  style="background: #02bd86">
                    <a th:href="@{/summary/radiology}">
                    <ul>
                        <li style="font-size:1.5rem;">检查</li>
                        <li style="font-size:1.5rem;">报告</li>
                        <li style="width:100%"><strong id="sum_yx">0</strong></li>
                    </ul>
                        </a>
            </div>
            </div>
        </div>
        <div class="top3a">
            <div class="top3a-title" >
                远程教育
            </div>
            <div class="top6a-box" >
                <div class="top5a-div" style="background: #23d5fb" >
                    <a th:href="@{/summary/lecture}">
                    <ul>
                        <li style="font-size:1.5rem;">课程</li>
                        <li style="font-size:1.5rem;">听课人员</li>
                        <li >
                            <strong id="sum_jy_kc">0</strong>
                        </li>
                        <!--<li >-->
                            <!--<strong id="sum_jy_yy">0</strong>-->
                        <!--</li>-->
                        <li >
                            <strong id="sum_jy_ry">0</strong>
                        </li>
                    </ul>
                        </a>
                </div>
            </div>
        </div>

    </div>
    <div class="top7 left">
        <div class="top3a-title" style="top:0px;">
            各地业务统计
        </div>
        <div class="top7a">
            <div class="table-responsive">
                <table class="table" >
                    <tbody id="table_list">
                    <tr>
                        <th></th>
                        <th>武汉市</th>
                        <th>黄石市</th>
                        <th>十堰市</th>
                        <th>宜昌市</th>
                        <th>襄樊市</th>
                        <th>鄂州市</th>
                        <th>荆门市</th>
                        <th>孝感市</th>
                        <th>荆州市</th>
                        <th>黄冈市</th>
                        <th>咸宁市</th>
                        <th>随州市</th>
                        <th>恩施州</th>
                        <th>仙桃市</th>
                        <th>潜江市</th>
                        <th>天门市</th>
                        <th>神农架林区</th>
                    </tr>
                    <tr>
                        <td>远程会诊</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                    </tr>
                    <tr>
                        <td>远程影像</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                    </tr>
                    <tr>
                        <td>远程心电</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                    </tr>
                    <tr>
                        <td>远程教育</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                        <td class="zt">0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ctx = '[[@{/}]]';
    ctx = ctx.length > 1 ? ctx : "";
</script>
<script th:src="@{/global/plugins/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/echarts/dist/echarts.js}" type="text/javascript"></script>
<script th:src="@{/backend/exhibition/exhibition.js}" type="text/javascript"></script>

</body>

</html>