<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
</head>

<body>
<section layout:fragment="content">
<div class="page-content-wrapper">
		<div class="page-content">
			
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a th:href="@{/tom/index}">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
				</ul>
			</div>

			<div class="portlet box grey-cararra">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-calendar"></i>欢迎进入tom技术学习系统
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>