<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.tom.modules.bsc.mapper.BscMapper">

	<select id="findTotal" resultType="int">
		select COUNT(DISTINCT BSCID) from stu_bsc
        <where>
            <if test="type!=null and type!=''">
                type = #{type}
            </if>
            <if test="text!=null and text!=''">
                text concat('%',#{text},'%')
            </if>
        </where>
	</select>

	<select id="findList" resultType="com.easy.tom.modules.bsc.entity.Bsc">
		select *  from  stu_bsc
        <where>
        <if test="type!=null and type!=''">
            type = #{type}
        </if>
        <if test="text!=null and text!=''">
            text concat('%',#{text},'%')
        </if>
        </where>
        ORDER BY ${order} ${dir}
		LIMIT #{startIndex},#{size}
	</select>
</mapper>